<div style="text-align:center">
    <h3>
      <img src="../../assets/home.png" style="width:50px;height:50px;"> Find your next LOTRO class/craft! <img src="../../assets/home.png" style="width:50px;height:50px;">
    </h3>
    <div class="headerbar"></div>
    <div class="container">
      <p>Maybe you are new to the awesome game that is Lord of The Rings Online, or maybe you are a seasoned player.  Regardless, these quizzes can help you!
        How many lotro players (alt-aholics, I'm looking at you!) want to create a new character and just don't know which class to try out?  Similarly, maybe you know which class you want but aren't sure what craft to pick.
        I invite you to try the quizzes here! Find the class and craft you need!</p>
      <h4>Help me choose my </h4>
      <div class="row">
        <div class="col s6">
          <a class="waves-effect waves-light btn-large" href='class'>Class!</a>
        </div>
        <div class="col s6">
          <a class="waves-effect waves-light btn-large" href='craft'>Craft!</a>
        </div>
      </div>
    </div>
  </div>
